parameters:
    level: 5
    paths:
        - src
        - tests
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        object_manager: App\Repository\DoctrineObjectManager
    exclude_paths:
        - src/DataFixtures/*
        - src/Kernel.php
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\]+::findOneBy\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::findBy\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::findAll\(\)#' 